<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527617410655-uc3nv7jm4ehiektpsq0esgoeodmk2tm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527617410655-uc3nv7jm4ehiektpsq0esgoeodmk2tm5</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ8ELnsyCDk15-tTkfoK8YbYQ6QhxjkU4</string>
	<key>GCM_SENDER_ID</key>
	<string>527617410655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.acls</string>
	<key>PROJECT_ID</key>
	<string>acls-pals-bls-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>acls-pals-bls-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527617410655:ios:dba1f84522328dac4a3dea</string>
</dict>
</plist>